.container {
  min-height: calc(100vh - 60px);
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  background-color: aliceblue;
  background-image: linear-gradient(
      rgba(25, 199, 126, 0.3),
      rgba(25, 199, 126, 0.3)
    ),
    url(../../images/Header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
