.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 15px;
  width: 800px;
  max-width: 90%;
  min-width: 480px;
  border: 1px solid;
  border-radius: 4px;
}
.item {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
