.list {
  display: block;
  padding: 10px;
  width: 800px;
  max-width: 90%;
  min-width: 480px;
}
.item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.item:last-child {
  margin-bottom: 0;
}
.contact {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
}
