.list {
  display: block;
  margin: 0 auto;
  min-width: 300px;
  width: 50%;
  padding: 30px 30px 6px 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.item:last-child {
  margin-bottom: 0;
}
.contact {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
}
